using System;
using Domain.Core.Interfaces.Structure;

namespace DynamicAssembly
{
    public class {{Name}} : IEntity
    {
        public Guid Id { get; set; }
{{#each Attributes}}
        public {{Item.DataType.Name}} {{Item.Name}} { get; set; }
{{/each}}

    }
}
