using System;
using Domain.Interfaces;

namespace DynamicAssembly
{
    public class {{Name}} : IEntity
    {
{{#each AttributesNavigable}}
        public {{Item.TypeLanguage.Type}} {{Item.Name}} { get; set; }
{{/each}}
    }
}
