using System;
using SharedKernel.Repository;

namespace DynamicAssembly
{
    public class {{Name}} : IEntity
    {
{{#each Attributes}}
        public {{DataType.Name}} {{Name}} { get; set; }
{{/each}}
    }
}
