using System;
using Domain.Core.Interfaces.Structure;

namespace DynamicAssembly
{
    public class {{Name}} : IEntity
    {
        public long Id { get; set; }
{{#each Attributes}}
{{#if Item.HasGenericType}}
        public {{Item.GenericType}} {{Item.Name}} { get; set; }
{{#else}}
        public {{Item.TypeLanguage.Type}} {{Item.Name}} { get; set; }
{{/if}}
{{/each}}

    }
}
