using Common.Notifications;
using Domain.Core.Interfaces.Infrastructure;
using Domain.Core.Interfaces.Structure;
using Microsoft.AspNetCore.Mvc;
using System;
using Infrastructure.Dynamic;
using DynamicAssembly;
using Common.Models;
using System.Collections.Generic;
using System.Linq;
using System.Linq.Dynamic.Core;

namespace DynamicController
{
    [Route("[controller]")]
    [Produces("application/json")]
    public class {{Name}}Controller : Controller
    {
        private INotificationManager _msgs;
        private IGenericRepository<{{Name}}Entity, {{IdenfierDataType.Name}}> _genericRepository;

        public {{Name}}Controller(
            INotificationManager msgs,
            IGenericRepository<{{Name}}Entity, {{IdenfierDataType.Name}}> genericRepository)
        {
            _msgs = msgs;
            _genericRepository = genericRepository;
        }

        private {{Name}}Entity MapperToDomain({{IdenfierDataType.Name}} id, {{Name}}Model model)
        {
            var entity = new {{Name}}Entity();
            entity.Id = id;
    {{#each Attributes}}
            entity.{{Item.Name}} = model.{{Item.Name}};
    {{/each}}
    {{#each Elements}}
            entity.{{Item.Entity.Name}} = model.{{Item.Entity.Name}};
    {{/each}}
            return entity;
        }

        [HttpGet()]
        public ResultDto<IEnumerable<{{Name}}Entity>> List(string where, string order = "Id", int limit = 1000, int offset = 0)
        {
            IEnumerable<{{Name}}Entity> entities;
            try
            {
                var query = string.IsNullOrEmpty(where) ?
                    _genericRepository.Queryble() :
                    _genericRepository.Queryble().Where(where);

                entities = query.OrderBy(order)
                                .Skip(offset * limit)
                                .Take(limit);
                return FormatResult(entities);
            }
            catch (Exception ex)
            {
                return FormatError<IEnumerable<{{Name}}Entity>>(ex.Message);
            }
        }

    {{#if IdenfierGuid}}
        [HttpPost()]
        public ResultDto<bool> Post([FromBody]{{Name}}Model model)
        {
            try
            {
                var entity = MapperToDomain(Guid.NewGuid(), model);
                _genericRepository.Insert(entity);
                return FormatResult(true);
            }
            catch (Exception ex)
            {
                return FormatError<bool>(ex.Message);
            }
        }    
    {{#else}}
        [HttpPost()]
        public ResultDto<bool> Post([FromBody]{{Name}}Entity entity)
        {
            try
            {
                _genericRepository.Insert(entity);
                return FormatResult(true);
            }
            catch (Exception ex)
            {
                return FormatError<bool>(ex.Message);
            }
        }
    {{/if}}

        [HttpGet("{id}")]
        public ResultDto<{{Name}}Entity> Get([FromRoute] {{IdenfierDataType.Name}} id)
        {
            try
            {
                var entity = _genericRepository.GetById(id);
                return FormatResult(entity);
            }
            catch (Exception ex)
            {
                return FormatError<{{Name}}Entity>(ex.Message);
            }
        }

        [HttpPut("{id}")]
        public ResultDto<bool> Put([FromRoute]{{IdenfierDataType.Name}} id, [FromBody]{{Name}}Model model)
        {
            try
            {
                {{Name}}Entity entity = MapperToDomain(id, model);
                _genericRepository.Update(entity);
                return FormatResult(true);
            }
            catch (Exception ex)
            {
                return FormatError<bool>(ex.Message);
            }
        }

        [HttpDelete("{id}")]
        public ResultDto<bool> Delete({{IdenfierDataType.Name}} id)
        {
            try
            {
                _genericRepository.Delete(id);
                return FormatResult(true);
            }
            catch (Exception ex)
            {
                return FormatError<bool>(ex.Message);
            }
        }

        private ResultDto<T> FormatResult<T>(T result)
        {
            if (_msgs.HasError)
                return FormatError<T>(_msgs.Errors.FirstOrDefault().Message);

            return new ResultDto<T>()
            {
                Result = result,
                Message = "Method executed successfully."
            };
        }

        private ResultDto<T> FormatError<T>(string message)
        {
            Response.StatusCode = 400;
            return new ResultDto<T>()
            {
                Result = default(T),
                Message = message
            };
        }
    }
}
