using System;
using System.Collections.Generic;
using Domain.Core.Interfaces.Structure;

namespace DynamicAssembly
{
    public class {{Name}}Entity : IGenericEntity<{{IdenfierDataType.Name}}>
    {

        public {{IdenfierDataType.Name}} Id { get; set; }

{{#each Attributes}}
        public {{Item.DataType.Name}} {{Item.Name}} { get; set; }
{{/each}}
{{#each Elements}}
        public {{Item.DataType.Name}} {{Item.Entity.Name}} { get; set; }
{{/each}} 
    }
}
